# 4. 머신러닝 프로세스1: 범주형 특성변수의 원핫인코딩
- (One Hot Encoding)
- 더미변수
- pd.get_dummies(X)

## 4-1. 데이터 범주-연속-레이블로 나누기
- 데이터셋을 훈련- 테스트로 나누기전에 수행하는 것이 편리하고 오류가 적음

In [1]:
# vote (유권자 선거행동) 데이터셋 불러오기 및 확인
import pandas as pd
data = pd.read_csv("../제공자료/vote.csv", encoding='utf-8')
data.head()

,gender,region,edu,income,age,score_gov,score_progress,score_intention,vote,parties
0,1,4,3,3,3,2,2,4.0,1,2
1,1,5,2,3,3,2,4,3.0,0,3
2,1,3,1,2,4,1,3,2.8,1,4
3,2,1,2,1,3,5,4,2.6,1,1
4,1,1,1,2,4,4,3,2.4,1,1

In [4]:
# 범주형 특성치는 gender(성별)과 region(지역)

# 범주변수와 기타 변수를 각각 X1과 XY로 나누기
X1=data[['gender', 'region']]
XY=data[['edu', 'income', 'age', 'score_gov', 'score_progress', 'score_intention', 'vote', 'parties']]

## 4-2. 범주형 변수의 One-hot-encoding 변환

In [5]:
# get_dummies 사용을 위해 성별과 출신지역의 숫자를 문자로 변형
X1['gender'] = X1['gender'].replace([1,2], ['male', 'female'])
X1['region'] = X1['region'].replace([1,2,3,4,5], ['Sudo', 'Chungcheung', 'Honam', 'Youngnam', 'Others'])

C:\Users\aj878\AppData\Local\Temp/ipykernel_3636/3860259930.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X1['gender'] = X1['gender'].replace([1,2], ['male', 'female'])
C:\Users\aj878\AppData\Local\Temp/ipykernel_3636/3860259930.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X1['region'] = X1['region'].replace([1,2,3,4,5], ['Sudo', 'Chungcheung', 'Honam', 'Youngnam', 'Others'])

In [6]:
X1.head()

   gender    region
0    male  Youngnam
1    male    Others
2    male     Honam
3  female      Sudo
4    male      Sudo

In [7]:
# 범주변수를 one-hot-encoding으로 변환 및 확인
X1_dum = pd.get_dummies(X1)
X1_dum.head()

,gender_female,gender_male,region_Chungcheung,region_Honam,region_Others,region_Sudo,region_Youngnam
0,0,1,0,0,0,0,1
1,0,1,0,0,1,0,0
2,0,1,0,1,0,0,0
3,1,0,0,0,0,1,0
4,0,1,0,0,0,1,0

## 4-3. 자료 통합 및 저장하기

In [8]:
# 변환데이터와 기타변수를 하나의 데이터로 통합
Fvote = pd.concat([XY, X1_dum], axis =1)
Fvote.head()

,edu,income,age,score_gov,score_progress,score_intention,vote,parties,gender_female,gender_male,region_Chungcheung,region_Honam,region_Others,region_Sudo,region_Youngnam
0,3,3,3,2,2,4.0,1,2,0,1,0,0,0,0,1
1,2,3,3,2,4,3.0,0,3,0,1,0,0,1,0,0
2,1,2,4,1,3,2.8,1,4,0,1,0,1,0,0,0
3,2,1,3,5,4,2.6,1,1,1,0,0,0,0,1,0
4,1,2,4,4,3,2.4,1,1,0,1,0,0,0,1,0

In [9]:
Fvote.to_csv("Fvote.csv", index= False, sep=',', encoding='utf-8')